<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @user.name %> said '<%= @story.body %>'
      <% if @story.song %>
        about the song <%= link_to @story.story_title, @story.song %>
        <% elsif @story.release %>
        about the release <%= link_to @story.story_title, @story.release %>        
      <% else %>
        about the show which took place at <%= link_to @story.story_title, @story.show %>        
      <% end %>
    </p>
  </body>
</html>