<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h3>Hello, <%= @user.name %>, here's what happened in The Gravel Pit Universe during <%= Date::MONTHNAMES[1.month.ago.month] %></h3>

  <h4>Ratings</h4>
    <% @ratings.sorted_by_rating_type.each do |rating| %>
    <p><%= rating.rating_type %><strong>
      <% if rating.song %>
        <%= link_to rating.rating_title, song_url(rating.song) %>
      <% else %>
        <%= link_to rating.rating_title, release_url(rating.release) %>
      <% end %>
  </strong> was rated <%= rating.rating_value %> out of 7 <small>by <%= rating.user.name %></small></p>
  <% end %>

  <h4>Comments</h4>
    <% @stories.each do |story| %>
    <p><%= story.body %> <small>said <%= story.user.name %> of</small>
      <% if story.song %>
        <%= link_to story.story_title, song_url(story.song) %>
      <% elsif story.release %>
        <%= link_to story.story_title, release_url(story.release) %>
      <% else %>
        <%= link_to story.story_title, show_url(story.show) %>
      <% end %>
  </p>
  <% end %>

  <br>

  <strong>Have a good <%= Date::MONTHNAMES[Date.today.month] %>, <%= link_to "The Gravel Pit Universe", root_url %></strong>
  <p>You can unsubscribe from this monthly email by updating your <%= link_to "user profile", edit_user_registration_url(@user) %></p>  
  </body>
</html>