    <% unless Show.upcoming.empty? %>
        <h2>Upcoming</h2>
        <% Show.upcoming.each do |show| %>
          <%= show.date.strftime('%A, %B %e, %Y') %>
          <%= show.descriptive %>
          <% if show.performances? %>
          <small><%= show.bill %></small>
          <% end %>
        <% end %>
    <% end %>
        <% unless Show.today_in_pit.empty? %>
        <h2>Today in Pit History</h2>
        <% Show.today_in_pit.each do |show| %>
          <%= show.date.strftime('%A, %B %e, %Y') %>
          <%= show.descriptive %>
          <% if show.performances? %>
          <small><%= show.bill %></small>
        <% end %><br>
        <% end %>
      <% end %>