    <% unless Show.upcoming.empty? %>
        <h2>Upcoming</h2>
        <p class="listing"><% Show.upcoming.each do |show| %>
          <%= show.date.strftime('%A, %B %e, %Y') %>
          <%= show.descriptive %>
          <% if show.performances? %>
          <small><%= show.bill %></small>
          <% end %>
        <% end %>
        </p>
    <% end %>
        <% unless Show.today_in_pit.empty? %>
        <h2>Today in Pit History</h2>
        <% Show.today_in_pit.each do |show| %>
          <p class="listing"><%= link_to show.date.strftime('%A, %B %e, %Y'), show_path(show) %>
          <%= link_to show.descriptive, show_path(show) %>
          <% if show.performances? %>
          <small><%= link_to show.bill, show_path(show) %></small>
        <% end %>
        <% end %></p>
      <% end %>