<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p><%= f.text_area :lyrics, class: 'form-control' %></p>
    <%= f.select(:release_id, options_for_select([["Serpent",2],["Extrackaganza",3],["Mass Ave",4],["Silver",5],["Manifesto",6],["Crash Land",7],["Favorite",9],["No One", 9]],@song.release_id)) %>
    <%= f.submit value="Update", class: 'btn btn-success' %>
  </div>
<% end %>
