<div class="row">
  <div class="col-md-12">
    <%= form_for @song do |f| %>
    <div class="form-group">
      <h1><%= f.text_field :title, placeholder: "Title", :autofocus => true %></h1>
      <p><%= f.text_area :lyrics, :size => "75x10" %></p>
    <%= f.submit "Save" , class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Cancel", :back, class: 'btn btn-danger' %>
  </div>
</div>