<h2>
  <%= @song.title %>
    <% if @song.release %>
      <small> from the release <%= link_to @song.release.title, release_path(@song.release) %></small>
    <% end %>
    </h2>
      <% if user_signed_in? %>
        <%= render partial: 'rating', locals: {song: @song} %>
      <% end %>
      <%= simple_format(@song.lyrics) %>

<hr>
    <%= render partial: 'story', locals: {song: @song} %>

<% if user_signed_in? %>
  <%= render partial: '/stories/new_comment', locals: {song: @song} %>
<% end %>

  <% if user_signed_in? %>
    <% if policy(@song).edit? %>
      <%= link_to 'EDIT', edit_song_path(@song) %>
    <% end %>
  <% else %>
    <p><mark>To rate or comment on a song you need to <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> for a (free) account and become a citizen</mark></p>
  <% end %>
  <%= link_to 'Back', :back, class: 'btn btn-default' %>
  <br>