
<div class="row">
  <div class="col-md-12">
    <h2>
      <%= render partial: 'song', locals: {song: @song} %>
    </h2>
    <p><%= @song.lyrics %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_song_path(@song) %> | <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', songs_path %>
    <% end %>
  </div>
</div>