
<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @song.title %>
      <% if @song.release %>
      <small> from the release <%= link_to @song.release.title, release_path(@song.release) %></small>
      <% end %>
    </h2>
      <% if user_signed_in? %>
        <%= render partial: 'rating', locals: {song: @song} %>
      <% end %>
     
    </small>
    <h5><%= simple_format(@song.lyrics) %></h5>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'story', locals: {song: @song} %>
  </div>
</div>


<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: '/stories/new_comment', locals: {song: @song} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %>
      <% if policy(@song).edit? %>
        <%= link_to 'EDIT', edit_song_path(@song) %> |
        <% end %>
      <% else %>
        <p><mark>To rate or comment on a song you need to <%= link_to "Sign Up", new_user_registration_path %> for a (free) account and become a citizen</mark></p>
    <% end %>
    <%= link_to 'Back', :back, class: 'btn btn-info' %>
  </div>
</div>