<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>
      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.select(:rating_value, options_for_select([["*",1],["**",2]])) %>
    <% if @song %>
        <%= f.hidden_field :song_id, value: song.id %>
        <% end %>
      <% if @release %>
        <%= f.hidden_field :release_id, value: release.id %>
      <% end %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit value="Submit" %>
  </div>
<% end %>