<div class="row">
  <div class="col-md-12">
    <%= form_for Story.new do |f| %>
    <div class="form-group">
      <p><%= f.text_area :body, autofocus: true, maxlength: "1000", size: "60x1", placeholder: "Comment"%></p>
      <% if @song %>
        <%= f.hidden_field :song_id, value: song.id %>
        <% end %>
      <% if @release %>
        <%= f.hidden_field :release_id, value: release.id %>
        <% end %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Save" , class: 'btn btn-success btn-xs' %>
    <% end %>
    <%= link_to "Cancel", @song, class: 'btn btn-danger btn-xs' %>
  </div>
</div>
</div>