<h2>Catalog</h2><hr>

<div class="row">
  <div class="col-md-12">
    <%= form_for @release do |f| %>
    <div class="form-group">
      <h1><%= f.text_field :title, placeholder: "Title", :autofocus => true %></h1>
        <%= f.date_select :release_date, start_year: 1992, class: 'form-control' %>
        <%= f.submit "Save" , class: 'btn btn-primary' %>
      <% end %>
    <%= link_to "Cancel", :back, class: 'btn btn-danger' %>
  </div>
</div>