<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @release.title %>
    </h2>
    released <%= @release.release_date.strftime('%A, %B %e, %Y') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'tracklist', locals: {release: @release} %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'story', locals: {release: @release} %>
  </div>
</div>


<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: '/stories/new_comment', locals: {release: @release} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'EDIT', edit_release_path(@release) %> |
        <% end %>
      <% else %>
        <p><mark>To comment on a release you need to <%= link_to "Sign Up", new_user_registration_path %> for a (free) account and become a citizen</mark></p>
    <% end %>
    <%= link_to 'Back To Catalog', releases_path %>
  </div>
</div>