<%= link_to show.date.strftime('%A, %B %e, %Y'), show %>
<%= show.place.name %> <%= show.place.address %>
<%= show.place.city %>, <%= show.place.state %>
<% if show.performances? %>
<span class="performances">with <%= render partial: 'performance', collection: show.performances %></span>
<% end %>
<br>