<div class="row">
  <div class="col-md-12">
    <h3><%= @show.description %> 
      <% if @show.performances? %> 
      with <%= @show.bill %>
      <% end %>
    </h3>

    <p><%= link_to 'Delete Show', remove_show_path(id: @show.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>  <%= link_to 'Back', shows_path, class: 'btn btn-info' %></p>
    <%= render 'form' %>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Add or Cut bands from the bill</h3>
      <small>
        <% @acts.each do |act| %>
            <% if @show.acts.include? act %>
              <p><%= link_to "Cut", remove_performance_path(show_id: @show.id, act_id: act.id), method: :delete, class: 'btn btn-xs btn-danger' %> <%=act.name %></p>
            <% else %>
              <p><%= link_to "Add", add_performance_path(show_id: @show.id, act_id: act.id), method: :post, class: 'btn btn-xs btn-success' %> <%=act.name %></p>
            <% end %>
        <% end %>
      </small>
        <p><%= link_to 'New Act', new_act_path, data: { confirm: 'Are you sure this act doesn\'t aleady exit?' }, class: 'btn btn-success' %></p>
  </div>
</div>
<!-- adding a comment to commit to fix heroku -->