<h2 class="category"><%= link_to "Shows", shows_path %></h2><hr>

<%= render partial: "search"%>

<br>

<%= render partial: "show", collection: @shows %>
<%= will_paginate @shows %>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
        <%= link_to 'New Show', new_show_path, class: 'btn btn-success'  %>
  <% end %>
<% end %>