<div class="row">
  <div class="col-md-12">
    <% @shows.to_enum.with_index(1).each do |show, i| %>
      <div class="media">
        <div class="media-body">
            <%= i %>. <%= show.date.strftime('%m/%d/%Y') %> <%= show.place.name %>
            <% if show.place.city? %>
              in <%= show.place.city %>, 
            <% end %>
            <%= show.place.state %> | <%= link_to "details", show %>
          <% if user_signed_in? %>
            <small>
              <%= link_to 'Edit', edit_show_path(show) %> | <%= link_to 'Delete', show, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small>
          <% end %>
        </div>
      </div>   
    <% end %>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'New Show', new_show_path, class: 'btn btn-success'  %>
      </div>
    </div>
  <% end %>
<% end %>