<h2 class="category"><%= link_to "Shows", shows_path %></h2><hr>

<h1><%= @show.date.strftime('%A, %B %e, %Y') %></h1>
<h2><%= @show.full_description %></h2>
  <% if @show.performances? %>
    <p><%= @show.bill %></p>
  <% end %>
    <% if @show.noted? %>
      <em><%= @show.note %></p></em>
  <% end %>

<% if user_signed_in? %>
  <%= age_at_show(@show) %> <%= age_of_pit_at_show(@show) %>
  <% if same_age_at_show?(@show) %>
      Also.
  <% end %>
  <hr>
<% end %>

<%= render partial: 'story', locals: {show: @show} %>

<% if user_signed_in? %>
  <%= render partial: '/stories/new_comment', locals: {show: @show} %>
<% end %>

<% if user_signed_in? %>
  <% if policy(@show).edit? %>
    <%= link_to 'EDIT', edit_show_path(@show), class: 'btn btn-warning' %>
  <% end %>
  <% else %>
    <p><mark>To comment on a show you need to <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> for a (free) account and become a citizen</mark></p>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-default' %>

<br>