
<div class="row">
  <div class="col-md-12">
    <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= @show.date.strftime('%m/%d/%Y') %>
            <%= @show.place.name %> in <%= @show.place.city %>, <%= @show.place.state %>
          </h4>
        </div>
      </div>
      <%= link_to 'Edit', edit_show_path(@show) %> |
      <%= link_to 'Back', shows_path %>
  </div>
</div>