
<div class="row">
  <div class="col-md-12">
    <div class="media">
        <div class="media-body">
          <h2 class="media-heading">
            <%= @show.date.strftime('%A, %B %e, %Y') %>
          </h2>
          <h2>            
            <%= @show.place.name %> <%= @show.place.address %>
          </h2>
          <h2><%= @show.place.city %>, <%= @show.place.state %></h2>
          <% @performances.each do |performance| %>
          <h3><%= performance.act.name%></h3>
            <% end %>
        </div>
      </div>
      <hr>
      <%= link_to 'Edit', edit_show_path(@show) %> |
      <%= link_to 'Back', shows_path %>
  </div>
</div>