<div class="row">
  <div class="col-md-12">
    <div class="listing">
    <h1><%= @show.date.strftime('%A, %B %e, %Y') %></h1>
      <h2><%= @show.description %></h2>
      <% if @show.performances? %>
        <p>with <%= @show.bill %></p>
      <% end %>
    </div>
  </div>
</div>

<hr>

<% if user_signed_in? %>
<div class="row">
  <div class="col-md-12">
    <%= age_at_show(@show) %>
  </div>
</div>

<hr>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %>
      <% if policy(@show).edit? %>
        <%= link_to 'EDIT', edit_show_path(@show) %>
      <% end %>
    <% end %>
    <%= link_to 'Back', :back, class: 'btn btn-info' %>
  </div>
</div>