<!DOCTYPE html>
<html>
<head>
  <title>The Gravel Pit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to image_tag("pitsymbol.jpg" ), root_path %></li>
        <li><%= link_to "Songs", songs_path %></li>
        <li><%= link_to "Catalog", releases_path %></li>
        <li><%= link_to "Shows", shows_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><%= link_to current_user.name, users_show_path(current_user) %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
    </ul>
  </div>
<div class="row">
        <% if flash[:notice] %>
         <div class="alert alert-success">
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <%= flash[:alert] %>
         </div>
       <% end %>
</div>

    <%= yield %>
    <br>
  </div><!-- outer container -->
</body>
</html>
